<header class="top-nav" [class.is-scrolled]="isScrolled">
  <a class="nav-link" routerLink="/about">About</a>
  <div class="nav-center">
    <a class="nav-link" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" >Stephen's Work</a>
    <span class="nav-divider">|</span>
    <a class="nav-link" routerLinkActive="is-active" routerLink="/blog">Stephen's Thoughts</a>
  </div>
  <a class="nav-link" routerLinkActive="is-active" routerLink="/pricing">Pricing | FAQs</a>
</header>
